<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body style="background: linear-gradient(to left, #34e89e , #0f3443);">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Home
        </a>

        <a class="navbar-brand" href="/posts">
          Posts
        </a>

        <a class="navbar-brand" href="/posts/new">
          New Post
        </a>
      </div>
    </div>
  </nav>

  <div class="container">

    {{{body}}}

  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>

  <!-- Custom JavaScript -->
  <script src="/scripts.js"></script>
</body>
</html>
