
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <iframe class="img-responsive" width="560" height="315" src="https://www.youtube.com/embed/OnoNITE-CLc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <h1>Example App: Home</h1>
